<!DOCTYPE html>
{%load static%}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Brevet chemicals</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Law Firm Website Template" name="keywords">
        <meta content="Law Firm Website Template" name="description">

        <!-- Favicon -->
        <link href=" {% static 'img/favicon.ico' %} " rel="icon">
<link rel="shortcut icon" type="image/x-icon" href="{%static 'img/1.png'%}" />
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600;1,700;1,800&family=Roboto:wght@400;500&display=swap" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href=" {% static 'lib/animate/animate.min.css' %} " rel="stylesheet">
        <link href=" {% static 'lib/owlcarousel/assets/owl.carousel.min.css' %} " rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href=" {% static 'css/style.css' %} " rel="stylesheet">
    </head>
 {% csrf_token %}

{% block css %}
{% endblock %}

    <body>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href=" {% url 'index' %} ">
                                    <img src=" {% static 'img/logo.png' %} " alt="Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="top-bar-right">
                                <div class="text">
                                    <a href="tel:exchang@gmail.com"><h2>+91 9913912920</h2></a>
                                    <p>Call Us For More Information</p>
                                </div>
                                <div class="social">
                                    <a href="mailto:info.brevetchem@gmail.com"><i class="fa fa-envelope"></i></a>
                                    <a href="https://www.facebook.com/brevet.chemical"><i class="fab fa-facebook-f"></i></a>

            <a href="https://wa.link/z1utjg"><img src="{%static 'img/wp5.png'%}" style="height:30px;width:30px;" ></img></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

            <!-- Nav Bar Start -->
            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href=" {% url 'index' %} " class="nav-item nav-link">Home</a>
                                <a href=" {% url 'about' %} " class="nav-item nav-link">About</a>
                                <a href=" {% url 'portfolio' %} " class="nav-item nav-link">Products</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Catalogue</a>
                                    <div class="dropdown-menu">
                                        <a href=" {% static 'img/Brevet Chemicals .pdf' %} " class="dropdown-item">Brevet Chemicals</a>
                                        <a href="{% static 'img/BREVET SPECIAL INK.pdf' %}" class="dropdown-item">Brevet Special Ink</a>
                                    </div>
                                </div>
                                <a href=" {% url 'contact' %} " class="nav-item nav-link">Contact</a>

                            </div>
                            <div class="ml-auto">
                                <a class="btn" href=" {% static '' %} ">Login/ Registration</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->
            {% block body %}{% endblock %}


            <!-- Newsletter Start -->
            <div class="newsletter">
                <div class="container">
                    <div class="section-header">
                        <h2>Subscribe Our Newsletter</h2>
                    </div>
                    <div class="form">
                        <input class="form-control" placeholder="Email here">
                        <button class="btn">Submit</button>
                    </div>
                </div>
            </div>
            <!-- Newsletter End -->


            <!-- Footer Start -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-about">
                                <h2>About Us</h2>
                                <p>
                                We at Brevet, strive to offer our customers the best product at the lowest possible price backed with complete technical support.</div>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="row">

                        <div class="col-md-6 col-lg-4">
                            <div class="footer-link">
                                <h2>Useful Pages</h2>
                                <a href="{%url 'about'%}">About Us</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-contact">
                                <h2>Get In Touch</h2>
                                <p><i class="fa fa-map-marker-alt"></i>123 Street, India</p>
                                <p><i class="fa fa-phone-alt"></i>+91 9913912920</p>
                                <p><i class="fa fa-envelope"></i><a href="mailto:info.brevetchem@gmail.com">info.brevetchem@gmail.com</p>

                                <p><i class="fa fa-envelope"></i><a href="mailto:sales.brevetchem@gmail.com">sales.brevetchem@gmail.com</p>
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="https://htmlcodex.com/law-firm-website-template">Khushi Pitroda</a>, All Right Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Designed By <a href="https://htmlcodex.com">Khushi Pitroda</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->

            <a href="https://wa.link/kl71zq"><img src="{%static 'img/wp.png'%}" style="height:60px;width:60px;" ></img></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src=" {% static 'lib/easing/easing.min.js' %} "></script>
        <script src=" {% static 'lib/owlcarousel/owl.carousel.min.js' %} "></script>
        <script src=" {% static 'lib/isotope/isotope.pkgd.min.js' %} "></script>

        <!-- Template Javascript -->
        <script src=" {% static 'js/main.js' %} "></script>
    </body>
</html>
