{% extends 'new/basic.html' %}
{% load static %}
{% block body %}


            <!-- Team Start -->
            <div class="team">
                <div class="container">
                    <div class="section-header">
                        <h2>Meet Our Expert Partners </h2>
                    </div>

                    <div class="row">{% for i in emps%}
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src=" {{baseUrl}}/media/{{i.dp}} " alt="Team Image">
                                </div>
                                <div class="team-text">
                                    <h2>{{i.phone}}</h2>
                                    <p>{{i.role}}</p>
                                    <div class="team-social">
                                        <h2 style="color:black;">{{i.name}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>{%endfor%}
                    </div>

                </div>
            </div>
            <!-- Team End -->


{%endblock%}